<a href="https://colab.research.google.com/github/Ohgangrae/ai/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [2]:
'''
작성자 : 오강래
'''

'\n작성자 : 오강래\n'

In [3]:
#작성자 : 오강래

In [4]:
# ㅇㄹㅇㄹㅇㄹ
# ㅇㄹㅇㄹㅇㄹ
# ㅇㄹㅇㄹㅇㄹ

#주석붙이는 위치
 
print("Hello World")

Hello World

In [5]:
name = 'Alice'
age = 25
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [10]:
a = int(1.9)
print(a)

b = int(True)
print(b)

b = int(False)
print(b)

c = int(False)
print(c)

1
1
0
0

In [12]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [16]:
#실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)
print(type(c))

d = float('100')
print(d)

1.0
1.0
3.14
<class 'float'>
100.0

In [18]:
a = bool(0)
print(a)

b = bool()
print(b)

False
False

In [20]:
#문자열 String

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [26]:
# 문자열 인덱싱


# hello 파이썬은 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5] == s[0])


ss = "990211-1005432"
print(ss[7])

o
o
True
1
99

In [28]:
ss = "990211-1005432"

print(ss[0:2]) # 0 번째 부터 2번째 미만까지.. [start:stop:step]
print(ss[0:2]) # step 은 생략 가능...
print(ss[0:10:2])

99
99
901-0

In [29]:
# print
 print('Hello 'world'')

IndentationError: ignored

In [30]:
print("Hello 'World'")

Hello 'World'

In [32]:
print('Hello \'World\'')
print("Hello \"World\"")
print('Hello \"World\"')
# \뒤에는 문자로 인식  한다고 생각하면 편함

Hello 'World'
Hello "World"

In [33]:
print('Hello \n"World"')

Hello
"World"

In [34]:
print("이름 \n전화")

이름
전화

In [36]:
print('이름\t연락처')
print('홍길동\t010-2345-5678')

이름	연락처
홍길동	010-2345-5678

In [37]:
print('재미있는 ','파이썬')

재미있는  파이썬

In [39]:
print('평점', end=':')
print('5점')

평점:5점

In [45]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ', ')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

국어
영어
수학

In [50]:
# %연산자

print(10)
print('%d' % 10) # %d decimal 정수
print('%f' % 3.14) # %f float 실수
print('%s' % '학생') # %s string 문자열

print('%d 을 입력하세요' % 10)
print('원주율은 %f 입니다.' %3.14)
print('원주율은 %s 입니다.' %3.14)
std = "대학생"
print('저는 %s입니다.' % std)
print('저는', std,'입니다.')

10
10
3.140000
학생
10 을 입력하세요
원주율은 3.140000 입니다.
원주율은 3.14 입니다.
저는 대학생입니다.
저는 대학생 입니다.

In [52]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [57]:
print('원주율은 %f 입니다.' %3.14)
print('원주율은 %5.1f 입니다.' %3.14)
print('원주율은 %-5.1f 입니다.' %3.14)
print('원주율은 %.2f 입니다.' %3.14)

원주율은 3.140000 입니다.
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [58]:
name = 'kai'
print('내 이름은 %s입니다.' %name)

내 이름은 kai입니다.

In [64]:
height = 185.5
print('내 키는 %.1f입니다.' %height)
print('내 키는 %s입니다.' %height)
print('내 키는 %s이고 이름은 %s입니다.' %(height, name))
print('내 키는 {}이고 이름은 {}입니다.' .format(height, name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 kai입니다.
내 키는 185.5이고 이름은 kai입니다.

In [62]:
# format()

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [69]:
print('My name is {}. I\'m {} years old.'.format('James', 25))
print('My name is {1}. I\'m {0} years old.'.format(25, 'James'))
print('My name is {name}. I\'m {age} years old.'.format(age=25, name='James'))

My name is James. I'm 25 years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [71]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능


who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [72]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [74]:
##################
# 입력 input()
##################

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n, '입니다.')

123
당신이 입력한 내용은 123 입니다.
당신이 입력한 내용은 123 입니다.

In [79]:
n = input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {n} 입니다.')
print('당신의 나이는', n, '입니다.')

당신의 나이를 입력하세요23
당신의 나이는 23 입니다.
당신의 나이는 23 입니다.

In [82]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')
print(f'당신의 이름은 {name}이고 나이는 {age} 입니다.')

당신의 이름과 나이를 입력하세요오강래
당신의 이름과 나이를 입력하세요25
당신의 이름은 오강래이고 나이는 25 입니다.

In [90]:
name = input('당신의 이름을 입력하세요')
age = int(input('당신의 나이를 입력하세요'))

# 1 기본
print('당신의 이름은', name, '이고 나이는', age, '입니다.')
# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')
# 3 format()
print('당신의 이름은 {} 이고 나이는 {} 입니다.'.format(name, age))
# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %s 입니다.' % (name, age))

print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요오강래
당신의 나이를 입력하세요26
당신의 이름은 오강래 이고 나이는 26 입니다.
당신의 이름은 오강래 이고 나이는 26 입니다.
당신의 이름은 오강래 이고 나이는 26 입니다.
당신의 이름은 오강래 이고 나이는 26 입니다.
오강래 <class 'str'>
26 <class 'int'>

In [99]:
# 50000원짜리 물건을 할부로 구입하고
# 매달 내는 금액을 계산하는 프로그램을 작성해보자.
# 할부 개월은 입력을 받아서 계산한다.
# 할부 개월 입력 :
# ? 개월 동안 매달 내는 금액은 ? 입니다.

month = int(input('할부 개월 입력 : '))
value = (50000/month)
# 1 기본
print(month ,'개월 동안 매달 내는 금액은',value ,'입니다.')

# 2 f-string
print(f'{month}개월 동안 매달 내는 금액은 {value}입니다.')

# 3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'.format(month, value))
# 4 % 연산자
print('%s개월 동안 매달 내는 금액은 %s 입니다.'%(month, value))

할부 개월 입력 : 2
2 개월 동안 매달 내는 금액은 25000.0 입니다.
2개월 동안 매달 내는 금액은 25000.0입니다.
2개월 동안 매달 내는 금액은 25000.0 입니다.
2개월 동안 매달 내는 금액은 25000.0 입니다.

In [103]:
# 더 좋은 방법!!!!!

# 50000원짜리 물건을 할부로 구입하고
# 매달 내는 금액을 계산하는 프로그램을 작성해보자.
# 할부 개월은 입력을 받아서 계산한다.
# 할부 개월 입력 :
# ? 개월 동안 매달 내는 금액은 ? 입니다.

month = int(input('할부 개월 입력 : '))
sum = 50000
value = round(sum/month,2)
# 1 기본
print(month ,'개월 동안 매달 내는 금액은',value ,'입니다.')

# 2 f-string
print(f'{month}개월 동안 매달 내는 금액은 {value}입니다.')

# 3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'.format(month, value))
# 4 % 연산자
print('%s개월 동안 매달 내는 금액은 %s 입니다.'%(month, value))

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.

In [ ]:
# 사용자로 부터 2개의 실수를 입력받아 합계를 구하는 프로그램을 작성하세요

# 실수 1 :
# 실수 2:
# ?과 ?의 합계는 ?입니다.