<a href="https://colab.research.google.com/github/Ohgangrae/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Review

# Comment 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽는 내용
# 다른 용법으로는 코드를 임시로 실행하지 않고 감추고 에러를 확인하는 용도로도 쓰인다.
# 본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이 작성한 내용을 파악하기 용이하게 만든다.

#전체 드래그 해서 (ctrl + /) (전체 주석 하기)

# doc string (주석의 용도로도 쓰이는..)
'''
작성일 : 2022/01/26
담당자 : 홍길동
비고 : abcde@naver.com
'''

"""
작성일 : 2022/01/26
담당자 : 홍길동
비고 : abcde@naver.com
"""
print('Hello World') # 코드의 우측 또는 코드의 윗줄에 적는다.

Hello World

In [2]:
# 변수 Variable
# 어떤 값을 저장하는 저장소 (a- 짜리 설명)
a = 100
print(a)

stumath = 350
stu_math_sum = 350 # 스네이크 케이스(단어 후 _ 하는 케이스) snake_case
StuMathSum = 350 # 캐멀 케이스 CamelCase

100

In [3]:
# 1a = 100 숫자가 먼저 올 수 없다.
a1 = 100

In [4]:
# _a = 100  (가능)

In [5]:
홍길도 = 55
# 한글 변수명 사용이 가능하지만 쓰지 말자

In [6]:
# 인덱싱 (슬라이싱)

s = 'world'
print(s[2]) # 파이썬은 인덱스 시작이 '0' 이다.
print(s[-1]) # -1은 마지막 인덱스를 가리킨다.
print(s[4])

ss = '900101-2547389' # 성별을 알 수 있다.
print(ss[7])          # 하나만 추출할때는   indexing
addr = '서울시 강남구 역삼동 1번지' # 여러개를 추출 할때는 slicing
print(addr[4:7])                    # 4이상 7미만, 띄어쓰기도 숫자에 포함

r
d
d
2
강남구

In [7]:
# print()
print('좋은 아침입니다.')

좋은 아침입니다.

In [8]:
when = '아침'
print('좋은',when,'입니다.')
print('좋은 %s입니다.' % when)
print('좋은 {}입니다.'.format(when))
print(f'좋은 {when}입니다.') # *****

좋은 아침 입니다.
좋은 아침입니다.
좋은 아침입니다.
좋은 아침입니다.

In [9]:
######################################################
# 리스트  List,  튜플  Tuple, 딕셔너리  Dict,  셋  Set
######################################################
# 여러개의 값을 한번에 저장하는 자료형이 필요하다.


# 리스트 List   (가장 많이 쓰임)
# 지금까지 사용한 숫자 1, 문자1 등 개별적, 독립적인 자료가 아닌
# 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소 element 라고한다.

# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다.)
list = [1,2,3,'대한','민국', True, False]
print(list)
score = [80,90,70,60]
print(score)
# 리스트는 인덱싱indexing(1개 뽑는 것) 과 슬라이싱 slicing(여러개 뽑는것) 이 가능하다.
print(score[0])   # 파이썬은 0부터 시작한다.
print(score[0:2]) # 슬라이싱은 0부터 2미만... 처럼      끝은 미만을 나타낸다.

# 리스트는 수정/삭제 가 가능하다. (mutable, 튜플은 immutable)
score[0] = 100
print(score)
score[-1] = 100
print(score)
#score[4] # indexerror 아주 접하게 될 에러(예외)

# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a = ', list_a)
print('list_b = ', list_b)
print(list_a + list_b)
print(list_a * 3)
print(len(list_a))  #(lenth 길이) 갯수를 세는..

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [10]:
# 리스트에 많이 사용되는 함수들...
# append() 리스트에 요소를 추가할 때 사용, 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]
[100, 90, 70, 100, 60, 70]

In [11]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가

list = []
list.insert(0, 10)
print(list)

list.insert(1, 50)
print(list)

[10]
[10, 50]

In [12]:
list_a = [1,2,3]
list_a.extend([4,5,6])
list_a  # 파괴적 처리

[1, 2, 3, 4, 5, 6]

In [13]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a) # 비파괴적 처리

# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다. (비파괴적 처리)
# 하지만 extend()를 사용하면 list_a에 직접적으로 영향을 주게된다. (파괴적 처리)

# 기본적으로 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [14]:
# del() 리스트에서 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3] # 1부터 3미만 즉 2까지
print(list_a)

del list_a[:]  #  생략하면 처음 : 생략하면 끝
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [15]:
# pop() 리스트에서 마지막 위치 데이터 삭제
# list_a.pop()

# list_a

In [16]:
# list_a.pop(1)
# list_a

In [17]:
# remove 값으로 삭제 

list_c = [1,2,1,2]
list_c.remove(2) # remove 는 요소의 값을 찾아 삭제한다. 
                 # 동일한 값이 여러개 있을때는 하나씩 순차적으로 삭제한다. 
                 # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다. 
print(list_c)
list_c.remove(2)
print(list_c)

[1, 1, 2]
[1, 1]

In [18]:
list = [1,2,3,4,5]
print(list[0])  # indexing 비파괴적으로 동작한다. 
print(list)

print(list.pop()) #pop은 파괴적으로 동작한다.
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [19]:
# in / not in 리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list)
print(221 in list)
print(221 not in list)

True
False
True

In [20]:
# 딕셔너리 (java의 map, JS 의 json 과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {}를 사용하여 데이터들을 저장한다.
# 삽입/삭제 가 가능하다. mutable
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
    "name": "엔드 게임",
    "no":1,
    "type": "히어로 무비",
    "price": 10000
}
print(dict)
dict['name']

{'name': '엔드 게임', 'no': 1, 'type': '히어로 무비', 'price': 10000}

'엔드 게임'

In [21]:
dict = {
    "감독":["안소니","루소"],
    "배우":["타노스","토르","헐크"]
}
dict["감독"]

['안소니', '루소']

In [22]:
dict = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

print('name:', dict['name'])
print('type:', dict['type'])
print('ingredient:', dict['ingredient'])
print('origin:', dict['origin'])

name: 건조 망고
type: 절임 과일
ingredient: ['망고', '설탕', '색소']
origin: 필리핀

In [23]:
dict['name'] = '망고'
print('name:', dict['name'])

print(dict['ingredient'][0])

dict['price'] = 5000

print(dict)

dict['price'] = 4000

print(dict)

del dict['price']
print(dict)

name: 망고
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [24]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
del dict['weight']
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [25]:
# dict 자주 등장하는 에러(예외)

# KeyError 리스트에서 없는 인덱스에 접근하려고 하면 IndexError 가 발생되는 것처럼
#          딕에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.
dict = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

# del dict['nane']

In [30]:
dict = {
    'name':'건조 망고',
    'type':'절임 과일',
    'ingredient':['망고','설탕','색소'],
    'origin':'필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입력하세요 : ')

if key in dict:
  print(dict[key])
else:
  print('존재하지 않은 키에 접근하려고 합니다.')

>삭제를 원하는 데이터의 키값을 입력하세요 : 123
존재하지 않은 키에 접근하려고 합니다.

In [29]:
# 튜플 tuple 
# () 를 사용하여 작성한다. 튜플은 괄호를 생략할수 있다. 
# 리스트와 거의 대부분 유사하나, 튜플은 삽입,수정 등이 불가능하다 immutable
# 튜플은 1개의 원소로 작성할 때는 ,를 삽입한다. (1,)  (1,2)    [1]
# 

t = (1, 2)
print(t)
print(type(t))

t2 = 3, 4
print(t2)
print(type(t2))

t3 = (5)   # (5)  ==   5
print(t3)
print(type(3))

t4 = 5
print(t4)
print(type(t4))

t5 = (5,)
print(t5)
print(type(t5))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
5
<class 'int'>
(5,)
<class 'tuple'>

In [31]:
t = (1,2,3,4,5)
# t[0] = 8  튜플은 수정이 불가능하다. immutable
del t[0] # 튜플은 삭제가 불가능하다. immutable

TypeError: ignored

In [27]:
t = (1,2,3,4,5)

print(t[1]) # 튜플은 인덱싱이 가능하다. 
print(t[2:])# 튜플은 슬라이싱이 가능하다.

2
(3, 4, 5)

In [32]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

print(t1 + t2)
print(t1)
print(t2)

print(t1 * 3)

# 비 파괴적 연산은 가능하다.

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [43]:
# Set 집합
# {} 를 사용하여 작성한다. 
# 중복을 허용하지 않는다. 
# 순서가 없다. unordered 리스트나 튜플은 순서가 있기때문에 ordered  인덱싱과 슬라이싱을 통해
# 값을 꺼낼수 있지만 딕셔너리와 셋은 순서가 없어 불가능하다. 
# 중복을 허용하지 않는다는 특성을 활용하여 중복 제거 필터용으로 많이 사용된다. 
# set자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
set = {1,1,2,2,2,3,4}
print(set)

print(set[0])

{1, 2, 3, 4}

TypeError: ignored

In [42]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)
#print(s1[0])

li = list(s1)
print(type(li))
print(li)
li[0]

TypeError: ignored

In [46]:
# 집합 계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

# 양쪽 집합에 모두 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2)  
print(set1.intersection(set2))

# 양쪽 집합의 모든 원소 -> 합집합
print(set1 | set2)
print(set1.union(set2))

# 두개 집합의 차 -> 차집합
print(set1 - set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [47]:
# 집합은 삽입 가능 mutable

set1 = {1,2,3}
print(set1)
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

#집합은 삭제가 가능하다.  mutable
#집합은 인덱스 개념이 존재하지 않는다. 따라서 값을 지정하여 직접 삭제 한다. 
set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [53]:
# Q1.  입력) 학번을 입력하세요 >> 31025
#      출력) 3학년 10반 25번

s = input("학번을 입력하세요")
print(f'{s[0]}학년 {s[1:3]}반 {s[3:]}번')

학번을 입력하세요31025
3학년 10반 25번

In [55]:
# Q2. 입력) 차량 번호를 입력하세요 >> 서울2가1234
#           차량 번호를 입력하세요 >> 288가1233
#     출력) 서울2가1234 의 차량번호 끝 4자리는 1234 입니다.
#           288가1233 의 차량번호 끝 4자리는 1234 입니다.  

num = input("차량 번호를 입력하세요")
print(f'{num} 의 차량번호 끝 4자리는 {num[-4:]} 입니다.')

차량 번호를 입력하세요서울시 1234
서울시 1234 의 차량번호 끝 4자리는 1234 입니다.

In [1]:
# 홀수 갯수의 문자열을 입력 받아
# 가운데 글자를 추출하는 프로그램을 구현하시오 
# 입력) 문자열을 홀수로 입력하세요 >> austins   7 3
# 입력) 문자열을 홀수로 입력하세요 >> abc       3 1

# 출력) 문자열의 가운데 글자는 t입니다.
# 출력) 문자열의 가운데 글자는 b입니다.

# ctx = 'austins'

# print(int(len(ctx)/2))
# print(len(ctx)//2)  # 몫만 추출
# print(len(ctx)%2)   # 나머지만 추출 (홀수 짝수 배수)
ctx = input("문자열을 홀수로 입력하시오")

anser = (int(len(ctx)/2))
print(f'문자열의 가운데 글자는 {ctx[anser]}')

문자열을 홀수로 입력하시오abc
문자열의 가운데 글자는 b

In [59]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 요소부터 7번째 요소만 추출한 결과에서
# 2번째 요소를 출력하는 프로그램을 구현하세요. (한줄로..)

li = [1,2,3,4,5,6,7,8,9]
print(li[2:7][1])

4

In [2]:
# if

# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야할 때 사용된다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.

# if 조건식:
#   만족할때 실행 코드
# else
#   만족하지 못할때 실행 코드

# if 맑으면:
#   소풍을 간다.
# else:
#   공부를 한다.


if True:
  print('만족')
else:
  print('불만족')

만족

In [5]:
age = int(input('나이를 입력하세요.'))

if age >= 18:
  print('당신은 성인입니다.')
else:
  print('당신은 성인이 아닙니다.')

나이를 입력하세요.11
당신은 성인이 아닙니다.

In [15]:
age = int(input('나이를 입력하세요.'))

if age < 10:
  print('당신은 유아입니다.')
elif age < 20:
  print('당신은 10대입니다.')
elif age < 30:
  print('당신은 20대입니다.')
elif age < 40:
  print('당신은 30대입니다.')
elif age < 50:
  print('당신은 40대입니다.')
elif age < 60:
  print('당신은 50대입니다.')
elif age < 70:
  print('당신은 60대입니다.')
else:
  print('당신은 노인입니다.')

나이를 입력하세요.90
당신은 노인입니다.

In [3]:
# 입력) 당신의 점수를 입력하세요 >>> 95
  # 출력) 당신의 점수는 95 점이고 학점은 A학점입니다.  
  #                     --               -
  # 조건)100 점 초과인 점수는 없다. 0점 미만인 점수도 절대 없음
  # 100~ 90 A 
  #  89~ 80 B
  #  79~ 70 C
  #  69~ 60 D 
  #  나머지 F



score = int(input('당신의 점수를 입력하세요'))

if score >= 90:
  print(f'당신의 점수는 {score}이고 학점은 A학점입니다.')
elif score >= 80:
  print(f'당신의 점수는 {score}이고 학점은 B학점입니다.')
elif score >= 70:
  print(f'당신의 점수는 {score}이고 학점은 C학점입니다.')
elif score >= 60:
  print(f'당신의 점수는 {score}이고 학점은 D학점입니다.')
else:
  print(f'당신의 점수는 {score}이고 학점은 f학점입니다.')






#   score = int(input("당신의 점수를 입력하세요 >> "))
# gr = ""
# if score >=90:
#   gr = "A"
# elif score >=80:
#   gr = "B"
# elif score >=70:
#   gr = "C"
# elif score >=60:
#   gr = "D"
# else:
#   gr = "F"

# print(f"당신의 점수는 {score}점 이고 학점은 {gr}학점입니다.")

당신의 점수를 입력하세요34
당신의 점수는 34이고 학점은 f학점입니다.

In [4]:
# 임의의 정수를 입력받아서 그 수가 3의 배수인지를 확인하는
# 프로그램을 작성하시오 % 홀수 짝수 배수

# (입력) 정수를 입력하세요 >>> 14
# (출력) 14는 3의 배수가 아닙니다.

# (입력) 정수를 입력하세요 >>> 15
# (출력) 15는 3의 배수입니다.



n = int(input("정수를 입력하세요"))
r = ""
if n%3 !=0:
  r = "가 아닙니다"
else: 
  r ="입니다"

print(f"{n}은 3의 배수{r}")

정수를 입력하세요15
15은 3의 배수입니다

In [11]:
# 정수 3개를 입력 받아서 그 중에서 가장 큰수를 찾아 출력하는 프로그램

# 정수1입력>3
# 정수2입력>1
# 정수3입력>2

# 가장 큰수는 3입니다.

n1 = int(input('정수를 입력하세요 >> '))
n2 = int(input('정수를 입력하세요 >> '))
n3 = int(input('정수를 입력하세요 >> '))
max = 0

if n1>n2:
  max = n1
elif n2>n3:
  max = n2
else:
  max = n3

print(max)

정수를 입력하세요 >> 3
정수를 입력하세요 >> 3
정수를 입력하세요 >> 4
4

In [12]:
n1 = int(input('정수1 입력 >>> '))
n2 = int(input('정수2 입력 >>> '))
n3 = int(input('정수3 입력 >>> '))

if n1 > n2 & n1 > n3 :
  best = n1
elif n2 > n3 :
  best = n2
else :
  best = n3

print(f'가장 큰 수는 {best}입니다.')

정수1 입력 >>> 3
정수2 입력 >>> 4
정수3 입력 >>> 5
가장 큰 수는 5입니다.