<a href="https://colab.research.google.com/github/Ohgangrae/ai/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
####################################################
# Review
####################################################

# Collection : 많은 데이터(elements)를 저장하고 관리한다. 

# 리스트list        튜플 tuple        딕셔너리 dict         셋 set

# []                ()                {}                    {}
# mutable           immutable         mutable               mutable
# indexing/slicing  indexing/slicing  Nope                  Nope
#                   (1,)             {key:value}            중복데이터 미허용
#                                    자바의 map, JS json    중복제거

# List
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0])  # indexing
print(list2[2:4])# slicing [시작:끝(미만)]

list1[0] = 9
print(list1)

print(list1*3)

list1.append(8) # append()는 마지막에 넣는다
print(list1)

list1.insert(0, 10) # 특정 위치를 지정하여 삽입

1
['하나', '둘']
[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 9, 2, 3, 4, 5, 9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 8]

In [7]:
list3 = list1
print(list1)
print(list3)
print(id(list1))
print(id(list3))
del list3[0]

print(list1)
print(list3)

# list1  -------> [9, 2, 3, 4, 5, 8] <------- list3

print()
print()

list4 = list1.copy()

print(list1)
print(list4)
print(id(list1))
print(id(list4))
del list4[0]

print(list1)
print(list4)

[9, 2, 3, 4, 5, 8]
[9, 2, 3, 4, 5, 8]
139856803315296
139856803315296
[2, 3, 4, 5, 8]
[2, 3, 4, 5, 8]


[2, 3, 4, 5, 8]
[2, 3, 4, 5, 8]
139856803315296
139856803343648
[2, 3, 4, 5, 8]
[3, 4, 5, 8]

In [3]:
t1 = ('대한','민국')
print(type(t1))

t2 = (1,)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [4]:
# t1[0] = '만세'
t1[0]
# t1.pop()

'대한'

In [5]:
# Dict 

dict = {
    'key':'value'
}

print(dict)
print(dict['key'])

dict['newkey'] = 'ai'
print(dict)

del dict['key']
print(dict)

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}
{'newkey': 'ai'}

In [6]:
# Set

set = {1,1,2,2,2,3}
print(set)

print(set[0])

{1, 2, 3}

TypeError: ignored

In [9]:
#########################################
# if 조건문
#########################################

# if 조건식(True or False):
#   True일 경우 실행
# else:
#   False일 경우 실행

if False:
  print('True')
else:
  print('False')


if False:
  print('1st')
elif False:
  print('2nd')
elif False:
  print('3rd')
else:
  print('etc')  

score  = 80
if score >= 100:
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')


if score >= 100:
  print('상')
elif score >= 50:
    print('중')
else:
    print('하')

False
etc
중
중

In [8]:
  # 입력) 당신의 점수를 입력하세요 >>> 95
  # 출력) 당신의 점수는 95 점이고 학점은 AO학점입니다.  
  #                     --               --
  # 조건)100 점 초과인 점수는 없다. 0점 미만인 점수도 절대 없음
  # 100~ 90 A 
  #  89~ 80 B
  #  79~ 70 C
  #  69~ 60 D 
  #  나머지 F

  # 0 ~ 3 -
  # 4 ~ 6 O
  # 7 ~ 9 +

score = int(input("당신의 점수를 입력하세요"))
a = ""
r = ""
if 90 <= score <= 100 :
   r = "A" 
elif 80 <= score <90 :
   r = "B"
elif 70 <= score <80 :
   r="C"
elif 60 <= score <70 :
   r="D"
elif 0 < score < 60:
   r="F"

if 0 or 1 or 2 or 3 in str(score)[2]:
   a = "-"
elif 4 or 5 or 6 in str(score)[2]:
   a="0"
else:
   a="+"    
print(f"당신의 점수는 {score}점 이고 학점은 {r}{a}학점입니다 ")

당신의 점수를 입력하세요78
당신의 점수는 78점 이고 학점은 C-학점입니다

In [2]:
sc = int(input('당신의 점수를 입력하세요 >>'))
gr=""

if sc >=97:
  gr="A+"
elif sc >=94:
  gr="AO"
elif sc >=90:
  gr="A-"
elif sc >=87:
  gr="B+"
elif sc >=84:
  gr="BO"
elif sc >=80:
  gr="B-"
elif sc >=77:
  gr="C+"
elif sc >=74:
  gr="CO"
elif sc >=70:
  gr="C-"
elif sc >=67:
  gr="D+"
elif sc >=64:
  gr="DO"
elif sc >=60:
  gr="D-"
else:
  gr="F"      

print(f'당신의 점수는 {sc}점이고 학점은 {gr}학점입니다.')

당신의 점수를 입력하세요 >>98
당신의 점수는 98점이고 학점은 A+학점입니다.

In [9]:
score = int(input("점수를 입력하세요 >>>"))

if score >= 90:
  gr = "A"
elif score >= 80:
  gr = "B"
elif score >= 70:
  gr = "C"
elif score >= 60:
  gr = "D"
else:
  gr = "F"


if int(score%10) >= 7:
  de = '+'
elif int(score%10) >= 4:
  de = 'O'
else:
  de = '-'

print(f'당신의 점수는 {score}이며 학점은 {gr}{de}입니다. ')

점수를 입력하세요 >>>56
당신의 점수는 56이며 학점은 FO입니다.

In [ ]:
#####################################
# While
#####################################

# 반복문은 작업 수행을 한 번이 아니라 계속해서 수행해야 할때 사용한다. 
# while 반복 작업을 몇 번 수행할지 확실하지 않을 때 주로 사용한다. 
# '운동장을 해가 질때까지 반복해서 돌자'

# while 조건식:
#   실행구문

# while True:
#   print('운동장 돌기')

In [10]:
n = 1
while n <= 10:
  print(n)
  n = n + 1

print('-------------')
print(n)

1
2
3
4
5
6
7
8
9
10
-------------
11

In [11]:
n = 1
while n <= 10:
  print(n)
  n += 1   # n = n + 1   (자바 n++)

print('-------------')
print(n)

1
2
3
4
5
6
7
8
9
10
-------------
11

In [13]:
# 10 부터 1까지 짝수만(꺼꾸로) 출력

n = 10
while n >=1:
  print(n)
  n -= 2      #  n = n - 2

n = 10
while n>=1:
  if n%2 ==0:
    print(n)
  n -=1

10
8
6
4
2
10
8
6
4
2

In [16]:
# 사용자로 부터 임의의 정수를 입력 받아 모두 리스트에 보관합니다.
# 단, 0을 입력하면 프로그램을 종료합니다. (0은 리스트에 저장 안함)
# 최종 저장된 리스트를 출력합니다. 

arr = []
no = 1

while no != 0:
  no = int(input('정수입력 >>> '))

  if no != 0:
    arr.append(no)

print(arr)


# d2 = []
# d =1
# while d != 0 :
#   d = int(input('번호입력'))
#   d2.append(d)

# del d2[-1]
# print(d2)

정수입력 >>> 1
정수입력 >>> 3
정수입력 >>> 2
정수입력 >>> 0
[1, 3, 2]

In [ ]:
# while 중첩
# while  내부에 또 다른  while 을 사용하는 것을 중첩이라고 한다.

# 3일 동안 1~3교시 수업을 한다.

# 1일차 1교시입니다.
# 1일차 2교시입니다
# 1일차 3교시입니다.
# 2일차 1교시입니다.
# 2일차 2교시입니다.
# 2일차 3교시입니다.
# 3일차 1교시입니다.
# 3일차 2교시입니다.
# 3일차 3교시입니다.

In [17]:
day = 1
while day <= 3:
  hour = 1
  while hour <= 3:
    print(f'{day}일차 {hour}교시입니다.')
    hour += 1
  day += 1

1일차 1교시입니다.
1일차 2교시입니다.
1일차 3교시입니다.
2일차 1교시입니다.
2일차 2교시입니다.
2일차 3교시입니다.
3일차 1교시입니다.
3일차 2교시입니다.
3일차 3교시입니다.

In [21]:
a = 2
while a <= 9:
  b = 1
  while b <= 9:
    print(f'{a}*{b}={a*b}')
    b += 1
  a += 1

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [32]:

q = int(input('정수를 입력하세요'))
n = 1
if q > 0:
  while q > 0:
    print(f'{n}번째 Hello')
    n += 1
    q -= 1
else:
    print('잘못된 입력입니다.')

정수를 입력하세요0
잘못된 입력입니다.

In [35]:
# q2  1 부터 100사이의 모든 정수 중에서 7의 배수만 출력하세요
n = 7
while n <= 100:
  print(n)
  n += 7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
# 커피 1잔을 300원에 판매하는 자판기가 있다 
# 자판기에 돈을 넣었을때 자팜기에서 뽑을 수 있는 커피가 몇잔이고
# 잔돈이 얼마인지 함께 출력하세요

# 자판기에 얼마를 넣을까요 >>> 1400
# 커피 1잔, 잔돈 1100원
# 커피 2잔, 잔돈 800원
# 커피 3잔, 잔돈 500원
# 커피 4잔, 잔돈 200원

In [36]:
a = int(input('자판기에 얼마를 넣을까요'))
cof = 300
num = 1
while cof<=a:
  print(f'커피 {num}잔, 잔돈 {a-cof}원')
  num+=1
  cof+=300

자판기에 얼마를 넣을까요5000
커피 1잔, 잔돈 4700원
커피 2잔, 잔돈 4400원
커피 3잔, 잔돈 4100원
커피 4잔, 잔돈 3800원
커피 5잔, 잔돈 3500원
커피 6잔, 잔돈 3200원
커피 7잔, 잔돈 2900원
커피 8잔, 잔돈 2600원
커피 9잔, 잔돈 2300원
커피 10잔, 잔돈 2000원
커피 11잔, 잔돈 1700원
커피 12잔, 잔돈 1400원
커피 13잔, 잔돈 1100원
커피 14잔, 잔돈 800원
커피 15잔, 잔돈 500원
커피 16잔, 잔돈 200원

In [ ]:
# 사용자로 부터 0부터 9까지 의 정수를 입력받아 입력된 정수가 5개가 
# 될때까지 입력 받는 프로그램을 구현하세요 , 
# 중복된 값이 입력되면 해당입력은 무시합니다.
# set, while 사용할 것

0 ~ 9 사이 정수를 입력하세요 >>> 0
0 ~ 9 사이 정수를 입력하세요 >>> 0 # 무시
0 ~ 9 사이 정수를 입력하세요 >>> 1 
0 ~ 9 사이 정수를 입력하세요 >>> 1 # 무시
0 ~ 9 사이 정수를 입력하세요 >>> 2
0 ~ 9 사이 정수를 입력하세요 >>> 3 
0 ~ 9 사이 정수를 입력하세요 >>> 4

In [43]:
num = set([])

while len(num) <= 4:
  no = int(input('0 ~ 9 사이 정수를 입력하세요 >>>'))
  num.add(no)
  print(num)

print(num)

0 ~ 9 사이 정수를 입력하세요 >>>1
{1}
0 ~ 9 사이 정수를 입력하세요 >>>1
{1}
0 ~ 9 사이 정수를 입력하세요 >>>2
{1, 2}
0 ~ 9 사이 정수를 입력하세요 >>>3
{1, 2, 3}
0 ~ 9 사이 정수를 입력하세요 >>>3
{1, 2, 3}
0 ~ 9 사이 정수를 입력하세요 >>>3
{1, 2, 3}
0 ~ 9 사이 정수를 입력하세요 >>>4
{1, 2, 3, 4}
0 ~ 9 사이 정수를 입력하세요 >>>5
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# 1부터 100사이의 모든 정수를 한줄에 10개씩 출력하시오
# while 2번 사용할 것
1     2     3     4     5     6     7     8     9     10
11
12
13
.
.
91    92    93                    ...                 100

In [4]:
# n = 1
# while n <= 100:
#   if n % 10 != 0:
#     print(n, end='\t')
#   else:
#     print(n)
#   n += 1

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [5]:
n = 1
while n <= 100:
  t = 0
  while t < 10:
    print(n, end='\t')
    t += 1
    n += 1
  print("")

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [8]:
#########
# for
#########

# 몇 번 반복 시킬지 그 횟수가 명확할 때 주로 사용한다. 

# for 변수 in 반복시킬값들:
#   반복실행문

# 리스트
# for i in [1,2,3]:
#   print(i)

# 문자열
# for i in 'hello':
#   print(i)

# 튜플
# for i in (1,2,3):
#   print(i)  

# range()
for i in range(1,4,2):  #range(시작(생략가능), 끝(미만), 스탭(생략가능))
  print(i)

# set, dict 는 순서와 상관 없이는 사용 가능

1
3

In [ ]:
# 비밀 번호(str)를 입력 받아서 숫자와 문자가 모두 반드시 하나이상 
# 포함된 경우만 '사용 가능한 비번입니다.'
# '불가능한 비번입니다'
# ch.isalpha() - 알파벳이면 구성되면 True 
# ch.isnumeric() - 숫자면  True

# (입력) 비밀 번호를 입력하세요 >>>
# (출력) 사용 가능한 비번입니다.

In [21]:
pw = input('비밀 번호를 입력하세요 >>>')


ch_count = 0
no_count = 0

for ch in pw:
  if ch.isalpha():
    ch_count += 1
  elif ch.isnumeric():
    no_count += 1

if ch_count > 0 and no_count > 0:
  print('사용 가능한 비번입니다.')
else:
  print('사용 불가한 비번입니다.')

비밀 번호를 입력하세요 >>>sdf324
사용 가능한 비번입니다.

In [ ]:
# range([start], stop, [step])

# 1 숫자들을 컬렉션으로 만든다. 
# 2 start를 생략하면 0부터 시작한다. 
# 3 stop은 생략할수 없다. 
# 4 step을 생략하면 1씩 증가한다.

In [ ]:
# quiz . range와 for 문을 사용하여 구구단을 출력하세요
#(입력) 출력할 구구단을 입력하세요 >>> 5

5 x 1 = 5
5 x 2 = 10
.
.
.
5 x 9 = 45

In [22]:

num = int(input('출력할 구구단을 입력하세요 >>>'))

for i in range(1,10,1):
  print(f'{num}*{i} = {num*i}')

출력할 구구단을 입력하세요 >>>2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

In [25]:
# set, dict 도 for문으로 사용은 가능하나 순서는 보장하지 않는다. 

for i in {'가위','바위','보'}:
  print(i)

가위
보
바위

In [27]:
person = {
    'name':'에밀리',
    'age':'20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [32]:
# 사용자로부터 양의 정수를 하나 입력 받아서 1부터 입력 받은 정수 까지의
# 모든 정수의 합계를 구하는 프로그램을 작성하세요
#(입력) 임의의 양수를 입력하세요 >>> 5
#(출력) 1부터 5사이의 모든 정수의 합계는 15입니다.

num = int(input('임의의 양수를 입력하세요 >>>'))

sum = 0

for i in range(1,num+1):
  sum = sum + i # sum += i

print(f'1부터 {num}사이의 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요 >>>5
1부터 5사이의 모든 정수의 합계는 15입니다.

In [ ]:
# 사용자로부터 임의의 정수를 하나 입력 받아서 그 숫자 만큼의 
# '과일이름'입력 받아서'basket' 리스트에 저장하는 프로그램을 작성하세요

# 몇 개의 과일을 보관할까요 ? >>> 3
# 1번째 과일을 입력하세요 >>> 사과
# 2번째 과일을 입력하세요 >>> 바나나
# 3번째 과일을 입력하세요 >>> 체리

# 입력 받은 과일들은 ['사과','바나나','체리'] 입니다.

In [33]:

num = int(input('몇 개의 과일을 보관할까요 ?'))

basket = []

for i in range(1,num+1):
  fruit = input(f'{i}번째 과일을 입력하세요')
  basket.append(fruit)

print(f'입력 받은 과일들은 {basket} 입니다.')

몇 개의 과일을 보관할까요 ?3
1번째 과일을 입력하세요사과
2번째 과일을 입력하세요바나나
3번째 과일을 입력하세요딸기
입력 받은 과일들은 ['사과', '바나나', '딸기'] 입니다.

In [ ]:
1부터 99 사이의 모든 정수를 대상으로 369게임의 결과를 출력하는 프로그램을 작성하세요

1   2   짝    4   5   짝.......8    짝    10
11  12  짝...
21
짝  짝  짝짝  짝  짝
41
51
짝
71
81
짝 짝  짝짝                    짝  짝짝