<a href="https://colab.research.google.com/github/Ohgangrae/ai/blob/main/Python_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# x의 y제곱을 나타내는 ** 연산자

a = 3
b = 4
a ** b

81

In [ ]:
# 나눗셈 후 나머지를 반환하는 % 연산자
print(7 % 3)
print(3 % 7)

1
3

In [ ]:
# 나눗셈 후 몫을 반환하는 // 연산자
7 / 4

1.75

In [ ]:
# 이번에는 나눗셈 후 몫을 반환하는 // 연산자를 사용한 경우를 보자.
print(7 // 4)
print(8 // 3)

1
2

In [ ]:
# 활용빈도가 높은 이스케이프 코드
# \n	문자열 안에서 줄을 바꿀 때 사용
# \t	문자열 사이에 탭 간격을 줄 때 사용
# \\	문자 \를 그대로 표현할 때 사용
# \'	작은따옴표(')를 그대로 표현할 때 사용
# \"	큰따옴표(")를 그대로 표현할 때 사용

print("hi\n\t\"my name is\t\'oh\\gang\\rae\'\"")

hi
	"my name is	'oh\gang\rae'"

In [ ]:
# 문자열 길이 구하기

a = "Life is too short"
len(a)

17

In [ ]:
# sep: print문 안에 있는 인자들 사이에 특정한 구분값으로 분리해 출력.

print('a','b','c','d','e',sep='!!')

print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ', ')
print('국어','영어','수학', sep = '\n')

a!!b!!c!!d!!e
국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

In [ ]:
# end: print문 끝에 end에서 정의한 것을 출력 후 다음 줄이 연이어 출력

print("first",end='')
print("second")

firstsecond

In [ ]:
print("first",end='!!!!!')
print("second")

first!!!!!second

In [ ]:
# f - string
f'{변수}'

s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [ ]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
# type

a = "132"
print(type(a))

<class 'str'>

In [ ]:
a = "720"
b = (int(a))
print(type(b))

<class 'int'>

In [ ]:
# format 함수를 사용한 포매팅

# 숫자 바로 대입하기

"I eat {0} apples".format(3)

'I eat 3 apples'

In [ ]:
# 문자열 바로 대입하기

"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
# 숫자 값을 가진 변수로 대입하기

number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
# 2개 이상의 값 넣기

number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
# 이름으로 넣기

"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
print('"{0:<10}"'.format("hi")) #왼쪽 정렬
print('"{0:>10}"'.format("hi")) #오른쪽 정렬
print('"{0:^10}"'.format("hi")) #가운데 정렬
print("{0:=^10}".format("hi")) #공백 채우기
print("{0:!<10}".format("hi")) #공백 채우기

"hi        "
"        hi"
"    hi    "
====hi====
hi!!!!!!!!

In [ ]:
# "파이썬은 0부터 숫자를 센다."

In [ ]:
# 문자열 인덱싱이란?

a = "Life is too short, You need Python"
print(a[3])
print(a[-1])

# a[번호]는 문자열 안의 특정한 값을 뽑아내는 역할을 한다.
# 이러한 작업을 인덱싱이라고 한다.

e
n

In [ ]:
# 문자열 슬라이싱이란?

a = "Life is too short, You need Python"
print(a[0:4])
print(a[12:17])
print(a[:17])
print(a[:])
print(a[19:-7])

b = "20010331Rainy"
date = b[:8]
weather = b[8:]
print(date)
print(weather)

# ※ 인덱싱 기법과 슬라이싱 기법은 뒤에서 배울 자료형인
# 리스트나 튜플에서도 사용할 수 있다.

Life
short
Life is too short
Life is too short, You need Python
You need
20010331
Rainy

In [ ]:
# 문자열 포매팅 따라 하기

# 1. 숫자 바로 대입

"I eat %d apples." % 3

'I eat 3 apples.'

In [ ]:
# 2. 문자열 바로 대입

"I eat %s apples." % "five"

'I eat five apples.'

In [ ]:
# 3. 숫자 값을 나타내는 변수로 대입

number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [ ]:
# 4. 2개 이상의 값 넣기

number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
# 문자열 포맷 코드

# %s	문자열(String)
# %c	문자 1개(character)
# %d	정수(Integer)
# %f	부동소수(floating-point)
# %o	8진수
# %x	16진수
# %%	Literal % (문자 % 자체)

In [ ]:
# 포맷 코드와 숫자 함께 사용하기

# 1. 정렬과 공백

"%10s" % "hi"
# %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을
# 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

'        hi'

In [ ]:
# 2. 소수점 표현하기

"%0.4f" % 3.42134234
# 소수점 네 번째 자리까지만 나타내고 싶은 경우에는 위와 같이 사용한다

'3.4213'

In [ ]:
"%10.4f" % 3.42134234
# 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인
# 문자열 공간에서 오른쪽으로 정렬하는 예를 보여 준다.

'    3.4213'

In [ ]:
# 문자 개수 세기(count)

a = "hobby"
a.count('b')

2

In [ ]:
# 위치 알려주기1(find)

a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

# 존재하지 않는다면 -1을 반환

14
-1

In [ ]:
# 위치 알려주기2(index)

a = "Life is too short"
a.index('t')

8

In [ ]:
# 문자열 삽입(join)

",".join('abcd')

'a,b,c,d'

In [ ]:
# 소문자를 대문자로 바꾸기(upper)

a = 'hi'
a.upper()

'HI'

In [ ]:
# 대문자를 소문자로 바꾸기(lower)

a = "HI"
a.lower()

'hi'

In [ ]:
# 문자열 바꾸기(replace)

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [ ]:
# 입력 input()

age = input('당신의 나이를 입력하세요 :')
print(f'당신의 나이는 {age} 입니다.') #f-string은 {}
print('당신의 나이는',age,'입니다.')

당신의 나이를 입력하세요 :26
당신의 나이는 26 입니다.
당신의 나이는 26 입니다.

In [ ]:
name = input('당신의 이름을 입력하세요')
age = input('당신의 나이를 입력하세요')

# 1 기본
print('당신의 이름은', name, '이고 나이는', age, '입니다.')
# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')
# 3 format()
print('당신의 이름은 {} 이고 나이는 {} 입니다.'.format(name, age))
# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %s 입니다.' % (name, age))

당신의 이름을 입력하세요d
당신의 나이를 입력하세요3
당신의 이름은 d 이고 나이는 3 입니다.
당신의 이름은 d 이고 나이는 3 입니다.
당신의 이름은 d 이고 나이는 3 입니다.
당신의 이름은 d 이고 나이는 3 입니다.